@cor-de-fundo: #f5f6fa;
@cor-de-texto: #182C61;
@cor-do-botao: #44bd32;
@cor-do-botao-hover: #4cd137;
@fonte-roboto: 'Roboto', sans-serif;
@espacamento-padrao: 16px;
@espacamento-botao: 8px;
@borda-raio: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @fonte-roboto;
}

body {
    background-color: @cor-de-fundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: @cor-de-texto;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @espacamento-padrao 0;
    }

    .menu {
        display: flex;
    }

    .menu li {
        font-weight: bold;
        margin-left: 24px;
    }

    .menu li a {
        color: #fff;
        text-decoration: none;
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
        width: 100%;
        border-radius: @borda-raio;
    }

    .product-button {
        display: block;
        background-color: @cor-do-botao;
        color: #fff;
        text-align: center;
        padding: @espacamento-botao 0;
        border-radius: 8px;
        margin-top: @espacamento-padrao;
        text-decoration: none;

        &:hover {
            background-color: @cor-do-botao-hover;
        }
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}
